@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Open+Sans+Condensed:wght@300&family=Roboto+Condensed&display=swap');

/* CARDS ====== */
.wrapper {
    display: grid;
    grid-gap: 1rem;
    max-width: var(--max-width-main);}
.card { 
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    border-bottom-width:2px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom,  rgba(255,255,255,.7) 0%,rgba(255,255,255,0) 100%); 
    font-family: "Dosis", sans-serif;
    height: 100%;
    padding: 2rem;
    position: relative;
    opacity: 1;
    transition: all .5s;}
  
  .card--title {
    font-weight: bold;
    font-family: 'DosisBold', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
  .card--logo {margin-bottom: 1rem;}
  .card--dates {float:none;display:block;}
  .card--dept {font-weight: normal;display:block; float: none; transition: all .5s;}
  .card--position-dates {
    background-color: #f0f0f0;
    font-size: 1.8rem;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-shadow: 0px 1px #fff;
    margin: .5rem -2rem 1.5rem;
    padding: 10px 20px 5px ;
    border-top: 3px solid #e6e6e6;
    border-bottom: 3px solid #e6e6e6;
    transition: all .5s;
    background-image: url('../images/bg-patern.png');
  }
  .card .fa-info-circle {
    position: relative;
    cursor: pointer;
    color: #999;
  }
  .card .fa-info-circle::after {
    content: attr(data-tooltip);
    position: absolute;
    
    font-size: 0.9em;
    font-weight: 300;
    padding: 3px 5px;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    left: -360%;
    transform: scale(0,1);
    transform-origin: 100%;
    transition: all 0.5s ease-out;
    opacity: 0;
    z-index: 99;
    text-align: left;
    white-space: nowrap;
    font-family: 'open_sans_condensedlight', sans-serif;
  }
  .card .fa-info-circle:hover::after,
  .card .fa-info-circle:focus::after {
    transform: scale(1,1);
    opacity: 1;
    transition: all 0.3s ease-out;
  }
  .card .open .card--more-info {
    transform: scale(1 , 1);
    transition: transform 350ms ease-in-out, opacity 200ms linear;
  }
  .card--more-info {
    display: block;
    border-radius: 6px;
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(0 , 1);
    transform-origin: 0%;
    transition: transform 350ms ease-in-out, opacity 200ms linear;
  }
  .education { 
    grid-column: 1 / -1;
    border-radius: 6px;
    border-bottom-width:2px;
    box-sizing: border-box;
    background: rgba(255, 115, 0, .1);
    border: 1px solid rgba(255, 115,0, .3);
    font-family: "Dosis", sans-serif;
    height: 100%;
    padding: 2rem;
    position: relative;
    opacity: 1;
    transition: all .5s;
    overflow: hidden; 
    }
  .education:hover .education--logo { transform: scale(5) rotate(0);transition: transform 350ms ease-in-out}
  .education--title { margin-bottom: 1rem; }
  .education--name { font-weight: bold; font-size: 2rem; display: block;}
  .education--degree { font-weight: normal; font-size: 1.8rem; }
  .education--logo { 
    width: 100px; 
    // margin-right: 50px; 
    float: left;
    display: block;
    right: 3.5rem;
    top: 3.6rem;
    position: absolute; opacity: .15; transform: scale(5) rotate(5deg);transition: transform 350ms ease-in-out;
  }
  .education--logo img {width: 100%;}
  .section-title {width: 65%; margin: 1rem auto;}
  .fiserv-logo {display: inline-block; width: 100px;}
  .checkfree-logo {display: inline-block; width: 150px; padding-block: .5rem 1rem;}
  
  
  /* MQs */
  @media (min-width: 510px) {
    .wrapper {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      grid-gap: 20px;}
      .card--title {
        font-size: 3rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;}
    .card--position-dates {font-size: 2.4rem;}
    .card--dates {float:right;}
    .card .fa-info-circle::after {
        
      left: 100%;
      transform: scale(0,0);
      transform-origin: 0;
        
      }
  }
  
  @media (min-width: 700px) {
    .education:hover .education--logo { transform: scale(5) rotate(0);transition: transform 350ms ease-in-out}
   .name-address--name {font-size: 5rem;}
    .card--logo { margin-bottom: 0.5rem;}
    .card--title {
        font-weight: normal;
        font-size: 3rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
    .card--position-dates { font-size: 2.8rem; }
  }
  
  /* Larger  */
  @media (min-width: 1039px) {
      .wrapper, .about {margin-inline: auto;}
     .card--position-dates { font-size: 2rem; }
     .card--title { font-size: 2.8rem; }
    .card--dates {float:right;}
    .card .fa-info-circle::after {
        
      left: 100%;
      transform: scale(0,0);
      transform-origin: 0;
        
      }
  }